<div class= "container">
  <header class= "jumbotron">
    <h1>Bustle</h1>
  </header>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="#">Categories</a>
      </div>
    </div>
  </nav>
    {{outlet}}
  <hr>
</div>
